@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #18181b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-box-shadow {
  box-shadow: -8px -2px 10px #76fa93, 0px 8px 10px #76c1ff,
    8px -2px 10px #fffd7e;
}

.custom-drop-shadow {
  filter: drop-shadow(-4px -2px 2px #76fa93) drop-shadow(0px 4px 2px #76c1ff)
    drop-shadow(4px -2px 2px #fffd7e);
}

.resource-drop-shadow-gold {
  filter: drop-shadow(0px 0px 3px #fffd7e);
}

.resource-drop-shadow-silver {
  filter: drop-shadow(0px 0px 2px #909090);
}
